In [1]:
!pip install yfinance
#to get stock prices from internet
import yfinance as yf
#for some calculations
import numpy as np
#for data handling and data manupulation
import pandas as pd 
#to create datetime objects
import datetime as dt
#to jump from one month to another 
from pandas.tseries.offsets import MonthEnd

Requirement already satisfied: yfinance in c:\users\ksang\anaconda3\lib\site-packages (0.1.63)
Requirement already satisfied: requests>=2.20 in c:\users\ksang\anaconda3\lib\site-packages (from yfinance) (2.24.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\ksang\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in c:\users\ksang\anaconda3\lib\site-packages (from yfinance) (1.0.5)
Requirement already satisfied: numpy>=1.15 in c:\users\ksang\anaconda3\lib\site-packages (from yfinance) (1.18.5)
Requirement already satisfied: lxml>=4.5.1 in c:\users\ksang\anaconda3\lib\site-packages (from yfinance) (4.5.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ksang\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ksang\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\ksang\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\ksang\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\ksang\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\ksang\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\ksang\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.15.0)

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_S&P_500_companies')[0]
#to get a dataframe we have used [0] othewise we would have got list

In [3]:
tickers = df.Symbol.to_list()
tickers

['MMM',
 'ABT',
 'ABBV',
 'ABMD',
 'ACN',
 'ATVI',
 'ADBE',
 'AMD',
 'AAP',
 'AES',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'ANTM',
 'AON',
 'AOS',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'BKR',
 'BLL',
 'BAC',
 'BK',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'BIO',
 'BIIB',
 'BLK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BF.B',
 'CHRW',
 'COG',
 'CDNS',
 'CZR',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'CNC',
 'CNP',
 'CERN',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CTXS',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'COST',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DISCA',
 'DISCK',
 'DISH',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DRE',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'EVRG',
 'ES',
 'RE',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FB',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FE',
 'FRC',
 'FISV',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FBHS',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GPS',
 'GRMN',
 'IT',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GS',
 'GWW',
 'HAL',
 'HBI',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IEX',
 'IDXX',
 'INFO',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'INTC',
 'ICE',
 'IBM',
 'IP',
 'IPG',
 'IFF',
 'INTU',
 'ISRG',
 'IVZ',
 'IPGP',
 'IQV',
 'IRM',
 'JKHY',
 'J',
 'JBHT',
 'SJM',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'KSU',
 'K',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LB',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LEG',
 'LDOS',
 'LEN',
 'LLY',
 'LNC',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LUMN',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MKC',
 'MXIM',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NLSN',
 'NKE',
 'NI',
 'NSC',
 'NTRS',
 'NOC',
 'NLOK',
 'NCLH',
 'NOV',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'OKE',
 'ORCL',
 'OGN',
 'OTIS',
 'PCAR',
 'PKG',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PENN',
 'PNR',
 'PBCT',
 'PEP',
 'PKI',
 'PRGO',
 'PFE',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PTC',
 'PEG',
 'PSA',
 'PHM',
 'PVH',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SNA',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STE',
 'SYK',
 'SIVB',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TWTR',
 'TYL',
 'TSN',
 'UDR',
 'ULTA',
 'USB',
 'UAA',
 'UA',
 'UNP',
 'UAL',
 'UNH',
 'UPS',
 'URI',
 'UHS',
 'UNM',
 'VLO',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VIAC',
 'VTRS',
 'V',
 'VNO',
 'VMC',
 'WRB',
 'WAB',
 'WMT',
 'WBA',
 'DIS',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WU',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WLTW',
 'WYNN',
 'XEL',
 'XLNX',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [4]:
df2 = yf.download(tickers, start ='2009-12-31', end ='2020-12-31')

[*********************100%***********************]  505 of 505 completed

3 Failed downloads:
- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted
- OGN: Data doesn't exist for startDate = 1262197800, endDate = 1609353000

In [5]:
df2

             Adj Close                                                 \
                     A        AAL         AAP        AAPL        ABBV
Date
2009-12-30   20.356419   4.591151   39.457481    6.499639         NaN
2009-12-31   20.336777   4.562870   38.947552    6.471693         NaN
2010-01-04   20.487324   4.496876   38.851337    6.572423         NaN
2010-01-05   20.264782   5.005957   38.620422    6.583786         NaN
2010-01-06   20.192783   4.798555   38.957184    6.479064         NaN
...                ...        ...         ...         ...         ...
2020-12-23  116.776527  15.890000  158.263336  130.542862   99.747688
2020-12-24  116.786476  15.660000  159.644379  131.549637   99.728371
2020-12-28  117.304169  16.059999  157.776505  136.254608   99.911865
2020-12-29  116.706841  15.860000  155.680099  134.440399  101.119110
2020-12-30  116.866135  16.150000  156.643860  133.294067  101.669617

                                                                       ...  \
                  ABC        ABMD         ABT         ACN        ADBE  ...
Date                                                                   ...
2009-12-30  22.068768    8.900000   19.954498   33.217167   37.180000  ...
2009-12-31  21.867466    8.730000   19.753269   33.065781   36.779999  ...
2010-01-04  22.337193    8.740000   19.925230   33.519943   37.090000  ...
2010-01-05  22.177824    8.530000   19.764246   33.727112   37.700001  ...
2010-01-06  21.968113    8.400000   19.874001   34.085644   37.619999  ...
...               ...         ...         ...         ...         ...  ...
2020-12-23  96.480705  304.049988  106.222961  255.051743  496.910004  ...
2020-12-24  96.212814  303.410004  107.112679  254.913025  499.859985  ...
2020-12-28  96.044151  312.910004  106.559082  257.270935  498.950012  ...
2020-12-29  96.361649  320.929993  107.092911  255.368805  502.109985  ...
2020-12-30  96.202896  323.920013  107.201660  255.150833  497.450012  ...

               Volume                                                         \
                  XEL       XLNX         XOM       XRAY       XYL        YUM
Date
2009-12-30  1736900.0  2387500.0  19860600.0   575300.0       NaN  1886196.0
2009-12-31  1364700.0  2249000.0  18852300.0   489300.0       NaN  1790217.0
2010-01-04  2670400.0  2824700.0  27809100.0  1051400.0       NaN  2962274.0
2010-01-05  4321400.0  3469700.0  30174700.0   763400.0       NaN  3298757.0
2010-01-06  2164500.0  6329200.0  35044700.0  1595100.0       NaN  4178981.0
...               ...        ...         ...        ...       ...        ...
2020-12-23  1153200.0  1766400.0  19085900.0   499600.0  593300.0   884700.0
2020-12-24   598400.0  1167500.0   8039000.0   217600.0  249700.0   340400.0
2020-12-28  1799800.0  1978500.0  23877500.0   576400.0  408600.0  1822900.0
2020-12-29  1761400.0  1489900.0  20287700.0   458300.0  501900.0  1818300.0
2020-12-30  1296400.0  2892600.0  23807300.0   527500.0  418200.0  1267900.0


                  ZBH      ZBRA        ZION        ZTS
Date
2009-12-30   577100.0  109600.0   2799500.0        NaN
2009-12-31   562300.0  184800.0   3239800.0        NaN
2010-01-04   782400.0  168800.0   3974600.0        NaN
2010-01-05  1718100.0  168800.0   5605500.0        NaN
2010-01-06  1277300.0  385300.0  12615200.0        NaN
...               ...       ...         ...        ...
2020-12-23   662000.0  191100.0    706800.0  1164600.0
2020-12-24   283800.0  138300.0    327700.0   417400.0
2020-12-28   684000.0  251200.0    835600.0  1522400.0
2020-12-29   735700.0  185500.0   1084100.0  1188400.0
2020-12-30   427600.0  166100.0    728400.0  1009000.0

[2772 rows x 3030 columns]

In [6]:
prices = df2['Adj Close']

In [7]:
prices

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-30,20.356419,4.591151,39.457481,6.499639,NaN,22.068768,8.900000,19.954498,33.217167,37.180000,...,14.319229,19.807211,44.674122,33.044544,NaN,20.216412,55.096420,28.389999,11.120522,NaN
2009-12-31,20.336777,4.562870,38.947552,6.471693,NaN,21.867466,8.730000,19.753269,33.065781,36.779999,...,14.165688,19.580618,44.297348,32.682144,NaN,20.078611,54.497166,28.350000,11.146583,NaN
2010-01-04,20.487324,4.496876,38.851337,6.572423,NaN,22.337193,8.740000,19.925230,33.519943,37.090000,...,14.072229,19.830650,44.920979,32.830830,NaN,20.147516,55.336128,28.670000,11.580979,NaN
2010-01-05,20.264782,5.005957,38.620422,6.583786,NaN,22.177824,8.530000,19.764246,33.727112,37.700001,...,13.905338,19.580618,45.096367,32.440536,NaN,20.078611,57.087856,28.620001,11.989312,NaN
2010-01-06,20.192783,4.798555,38.957184,6.479064,NaN,21.968113,8.400000,19.874001,34.085644,37.619999,...,13.932040,19.447794,45.486126,32.654263,NaN,19.935076,57.069427,28.400000,13.031859,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-23,116.776527,15.890000,158.263336,130.542862,99.747688,96.480705,304.049988,106.222961,255.051743,496.910004,...,63.413441,141.990005,40.482746,51.436024,99.209419,105.839561,148.297058,379.739990,42.970596,159.163895
2020-12-24,116.786476,15.660000,159.644379,131.549637,99.728371,96.212814,303.410004,107.112679,254.913025,499.859985,...,63.728981,141.990005,40.317982,51.645313,99.726700,106.582886,148.805557,376.890015,42.802708,160.030151
2020-12-28,117.304169,16.059999,157.776505,136.254608,99.911865,96.044151,312.910004,106.559082,257.270935,498.950012,...,64.409363,141.520004,40.453671,52.133663,99.846077,108.802956,148.446625,382.589996,42.822460,161.692993
2020-12-29,116.706841,15.860000,155.680099,134.440399,101.119110,96.361649,320.929993,107.092911,255.368805,502.109985,...,64.507973,139.899994,39.998158,51.077236,98.990562,108.475891,151.996017,378.040009,42.239773,162.419861
2020-12-30,116.866135,16.150000,156.643860,133.294067,101.669617,96.202896,323.920013,107.201660,255.150833,497.450012,...,64.734764,142.100006,40.317982,51.286526,100.253929,108.535355,151.766708,383.750000,42.684193,163.564911

In [8]:
prices.index = pd.to_datetime(prices.index)

In [9]:
mtl_ret = prices.pct_change().resample('M').agg(lambda x: (x+1).prod() -1)

In [10]:
mtl_ret

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-31,-0.000965,-0.006160,-0.012924,-0.004300,0.000000,-0.009122,-0.019101,-0.010084,-0.004557,-0.010759,...,-0.010723,-0.011440,-0.008434,-0.010967,0.000000,-0.006816,-0.010876,-0.001409,0.002343,0.000000
2010-01-31,-0.097844,0.097107,-0.025445,-0.088597,0.000000,0.045646,-0.092783,-0.012287,-0.012289,-0.121805,...,-0.020735,-0.059058,-0.055140,-0.046631,0.000000,-0.015991,-0.047200,-0.079365,0.478566,0.000000
2010-02-28,0.122369,0.380414,0.034221,0.065396,0.000000,0.031652,0.276515,0.025312,-0.024884,0.072755,...,0.001444,0.102891,0.015428,-0.013123,0.000000,-0.014323,0.017933,0.094636,-0.022124,0.000000
2010-03-31,0.093134,0.002729,0.028855,0.148470,0.000000,0.031384,0.020772,-0.029477,0.049537,0.020779,...,0.030484,-0.012776,0.030461,0.055621,0.000000,0.136714,0.032618,0.036052,0.177994,0.000000
2010-04-30,0.054377,-0.038095,0.075859,0.111021,0.000000,0.066736,-0.065891,-0.020672,0.049417,-0.050042,...,0.025943,0.011373,0.011795,0.050745,0.000000,0.112381,0.028885,-0.018581,0.315476,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-31,0.042458,0.173561,0.041095,0.216569,0.009061,-0.027564,0.025605,0.087738,0.067399,0.155451,...,0.006228,-0.026178,-0.032131,0.006054,0.102198,0.057867,0.044639,0.020588,0.000061,0.055512
2020-09-30,0.005178,-0.058238,-0.016387,-0.102526,-0.085413,-0.001134,-0.099343,-0.005846,-0.058100,-0.044722,...,-0.000379,0.000768,-0.140461,-0.023121,0.049139,-0.047470,-0.031941,-0.118905,-0.091418,0.032917
2020-10-31,0.013216,-0.082181,-0.040521,-0.060012,-0.015197,-0.008770,-0.090883,-0.030963,-0.036420,-0.088351,...,0.014780,0.138622,-0.049811,0.079122,0.035901,0.022234,-0.029675,0.123505,0.104381,-0.040041
2020-11-30,0.145068,0.252660,0.002852,0.095493,0.228907,0.077749,0.088217,0.029588,0.148356,0.070163,...,-0.038127,0.229788,0.197117,0.078406,0.104466,0.138709,0.128842,0.334156,0.206209,0.011542
2020-12-31,0.004192,0.142958,0.069091,0.123225,0.006598,-0.059645,0.181759,0.002033,0.033924,0.039668,...,-0.018934,-0.023703,0.091004,0.013156,0.050120,0.035066,0.022436,0.014085,0.119979,0.024255

In [11]:
past_11 = (mtl_ret+1).rolling(11).apply(np.prod)-1

In [12]:
past_11.head(11)

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-10-31,0.118971,1.420945,0.590185,0.422132,0.0,0.258146,0.158427,-0.027308,0.092604,-0.242873,...,0.151167,0.077716,-0.013227,-0.113169,0.0,0.437782,-0.206158,0.260303,0.623311,0.0

In [50]:
formation = dt.datetime(2010,12,31)

In [51]:
formation

datetime.datetime(2010, 12, 31, 0, 0)

In [52]:
end_measurement = formation-MonthEnd(1)

In [53]:
end_measurement

Timestamp('2010-11-30 00:00:00')

In [54]:
ret_12 = past_11.loc[end_measurement]

In [55]:
ret_12

A       0.127132
AAL     1.305784
AAP     0.636046
AAPL    0.476534
ABBV    0.000000
          ...
YUM     0.462839
ZBH    -0.166639
ZBRA    0.285361
ZION    0.518742
ZTS     0.000000
Name: 2010-11-30 00:00:00, Length: 505, dtype: float64

In [56]:
ret_12 = ret_12.reset_index()

In [57]:
ret_12

    index  2010-11-30 00:00:00
0       A             0.127132
1     AAL             1.305784
2     AAP             0.636046
3    AAPL             0.476534
4    ABBV             0.000000
..    ...                  ...
500   YUM             0.462839
501   ZBH            -0.166639
502  ZBRA             0.285361
503  ZION             0.518742
504   ZTS             0.000000

[505 rows x 2 columns]

In [58]:
ret_12['decile'] = pd.qcut(ret_12.iloc[:,1],10,labels = False, duplicates = 'drop')

In [59]:
ret_12

    index  2010-11-30 00:00:00  decile
0       A             0.127132       5
1     AAL             1.305784       9
2     AAP             0.636046       9
3    AAPL             0.476534       8
4    ABBV             0.000000       2
..    ...                  ...     ...
500   YUM             0.462839       8
501   ZBH            -0.166639       0
502  ZBRA             0.285361       7
503  ZION             0.518742       9
504   ZTS             0.000000       2

[505 rows x 3 columns]

In [60]:
winners = ret_12[ret_12.decile == 9]
losers = ret_12[ret_12.decile == 0]

In [61]:
winners

    index  2010-11-30 00:00:00  decile
1     AAL             1.305784       9
2     AAP             0.636046       9
21   AKAM             1.059590       9
22    ALB             0.502406       9
24    ALK             0.591435       9
30    AME             0.553940       9
52    AZO             0.641108       9
63   BKNG             0.804176       9
71    BWA             0.816376       9
77    CAT             0.522276       9
99    CMG             1.932055       9
100   CMI             1.142577       9
112   CRM             0.887217       9
119  CTXS             0.596491       9
137  DLTR             0.706522       9
140   DPZ             0.762530       9
155    EL             0.564750       9
161   EQR             0.514108       9
164   ETN             0.558271       9
168    EW             0.528152       9
170  EXPD             0.535437       9
173     F             0.593999       9
181  FFIV             1.489711       9
191  FTNT             0.813887       9
210   HAS             0.523131       9
211  HBAN             0.608253       9
234  ILMN             0.959583       9
235  INCY             0.592755       9
241  IPGP             0.713090       9
246    IT             0.783259       9
269    LB             0.864176       9
285   LVS             2.352074       9
327  NFLX             2.737520       9
352  ORLY             0.578699       9
358  PCAR             0.498383       9
367    PH             0.513161       9
379  PRGO             0.519430       9
384   PVH             0.672281       9
386   PXD             0.665363       9
390   RCL             0.592167       9
402  ROST             0.533684       9
424  SWKS             0.793517       9
439  TMUS             0.592398       9
440   TPR             0.562760       9
444  TSCO             0.616725       9
454   UAA             1.116978       9
455   UAL             1.144074       9
458  ULTA             0.924560       9
463   URI             1.000000       9
494  WYNN             0.884940       9
503  ZION             0.518742       9

In [62]:
losers

     index  2010-11-30 00:00:00  decile
7      ABT            -0.109494       0
9     ADBE            -0.244154       0
16     AES            -0.187829       0
29     AMD            -0.246901       0
54     BAC            -0.271410       0
55     BAX            -0.157188       0
65     BLK            -0.285423       0
70     BSX            -0.286667       0
79    CBOE            -0.264256       0
98     CME            -0.132207       0
105    COG            -0.194866       0
113   CSCO            -0.199666       0
129    DGX            -0.177121       0
135   DISH            -0.114588       0
147    DXC            -0.219115       0
149     EA            -0.160000       0
160   EQIX            -0.268959       0
165    ETR            -0.091761       0
169    EXC            -0.153431       0
180     FE            -0.199888       0
195   GILD            -0.156460       0
201   GOOG            -0.103665       0
202  GOOGL            -0.103665       0
204    GPN            -0.226877       0
222    HPQ            -0.181643       0
245   ISRG            -0.142174       0
255    JPM            -0.097996       0
270   LDOS            -0.191130       0
292    MAS            -0.191346       0
298    MDT            -0.220645       0
311   MPWR            -0.327075       0
315     MS            -0.167490       0
317   MSFT            -0.153999       0
321     MU            -0.311553       0
335    NRG            -0.179162       0
339    NUE            -0.169411       0
340   NVDA            -0.271414       0
341    NVR            -0.127661       0
345   NXPI            -0.101429       0
357   PBCT            -0.225499       0
368    PHM            -0.374000       0
378    PPL            -0.182514       0
385    PWR            -0.154990       0
407   SCHW            -0.189823       0
421    STX            -0.262782       0
465      V            -0.149977       0
469    VMC            -0.219692       0
473   VRTX            -0.226838       0
480    WDC            -0.241223       0
498   XRAY            -0.116761       0
501    ZBH            -0.166639       0

In [63]:
winnerret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(winners['index'])]
loserret  = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(losers['index'])]

In [70]:
Momentumprofit = winnerret.mean()-loserret.mean()

In [72]:
Momentumprofit

-0.03188177589977348

In [66]:
def momentum(formation):
    end_measurement= formation - MonthEnd(1)
    ret_12 = past_11.loc[end_measurement] 
    ret_12 = ret_12.reset_index()
    ret_12['decile'] = pd.qcut(ret_12.iloc[:,1],10,labels = False, duplicates = 'drop')
    winners = ret_12[ret_12.decile == 9]
    losers = ret_12[ret_12.decile == 0]
    winnerret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(winners['index'])]
    loserret  = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(losers['index'])]
    Momentumprofit = winnerret.mean()-loserret.mean()
    return Momentumprofit

In [73]:
formation

datetime.datetime(2010, 12, 31, 0, 0)

In [74]:
momentum(formation)

-0.03188177589977348

In [75]:
for i in range(12*10):
    print(formation + MonthEnd(i))

2010-12-31 00:00:00
2011-01-31 00:00:00
2011-02-28 00:00:00
2011-03-31 00:00:00
2011-04-30 00:00:00
2011-05-31 00:00:00
2011-06-30 00:00:00
2011-07-31 00:00:00
2011-08-31 00:00:00
2011-09-30 00:00:00
2011-10-31 00:00:00
2011-11-30 00:00:00
2011-12-31 00:00:00
2012-01-31 00:00:00
2012-02-29 00:00:00
2012-03-31 00:00:00
2012-04-30 00:00:00
2012-05-31 00:00:00
2012-06-30 00:00:00
2012-07-31 00:00:00
2012-08-31 00:00:00
2012-09-30 00:00:00
2012-10-31 00:00:00
2012-11-30 00:00:00
2012-12-31 00:00:00
2013-01-31 00:00:00
2013-02-28 00:00:00
2013-03-31 00:00:00
2013-04-30 00:00:00
2013-05-31 00:00:00
2013-06-30 00:00:00
2013-07-31 00:00:00
2013-08-31 00:00:00
2013-09-30 00:00:00
2013-10-31 00:00:00
2013-11-30 00:00:00
2013-12-31 00:00:00
2014-01-31 00:00:00
2014-02-28 00:00:00
2014-03-31 00:00:00
2014-04-30 00:00:00
2014-05-31 00:00:00
2014-06-30 00:00:00
2014-07-31 00:00:00
2014-08-31 00:00:00
2014-09-30 00:00:00
2014-10-31 00:00:00
2014-11-30 00:00:00
2014-12-31 00:00:00
2015-01-31 00:00:00
2015-02-28 00:00:00
2015-03-31 00:00:00
2015-04-30 00:00:00
2015-05-31 00:00:00
2015-06-30 00:00:00
2015-07-31 00:00:00
2015-08-31 00:00:00
2015-09-30 00:00:00
2015-10-31 00:00:00
2015-11-30 00:00:00
2015-12-31 00:00:00
2016-01-31 00:00:00
2016-02-29 00:00:00
2016-03-31 00:00:00
2016-04-30 00:00:00
2016-05-31 00:00:00
2016-06-30 00:00:00
2016-07-31 00:00:00
2016-08-31 00:00:00
2016-09-30 00:00:00
2016-10-31 00:00:00
2016-11-30 00:00:00
2016-12-31 00:00:00
2017-01-31 00:00:00
2017-02-28 00:00:00
2017-03-31 00:00:00
2017-04-30 00:00:00
2017-05-31 00:00:00
2017-06-30 00:00:00
2017-07-31 00:00:00
2017-08-31 00:00:00
2017-09-30 00:00:00
2017-10-31 00:00:00
2017-11-30 00:00:00
2017-12-31 00:00:00
2018-01-31 00:00:00
2018-02-28 00:00:00
2018-03-31 00:00:00
2018-04-30 00:00:00
2018-05-31 00:00:00
2018-06-30 00:00:00
2018-07-31 00:00:00
2018-08-31 00:00:00
2018-09-30 00:00:00
2018-10-31 00:00:00
2018-11-30 00:00:00
2018-12-31 00:00:00
2019-01-31 00:00:00
2019-02-28 00:00:00
2019-03-31 00:00:00
2019-04-30 00:00:00
2019-05-31 00:00:00
2019-06-30 00:00:00
2019-07-31 00:00:00
2019-08-31 00:00:00
2019-09-30 00:00:00
2019-10-31 00:00:00
2019-11-30 00:00:00
2019-12-31 00:00:00
2020-01-31 00:00:00
2020-02-29 00:00:00
2020-03-31 00:00:00
2020-04-30 00:00:00
2020-05-31 00:00:00
2020-06-30 00:00:00
2020-07-31 00:00:00
2020-08-31 00:00:00
2020-09-30 00:00:00
2020-10-31 00:00:00
2020-11-30 00:00:00

In [76]:
profits = []
dates = []
for i in range(12*10):
    profits.append(momentum(formation+MonthEnd(i)))
    dates.append(formation + MonthEnd(i))

In [77]:
profits

[-0.03188177589977348,
 nan,
 0.020517197455804388,
 -0.022241833878475774,
 0.005741802352154667,
 0.0218991891813987,
 -0.006693765346377067,
 -0.026204536867028096,
 -0.07401218239575538,
 -0.061913292900696776,
 0.0501376670840337,
 -0.004680505061794518,
 -0.11509283391055872,
 -0.01783608433216216,
 0.028920273631728256,
 0.06791706026082067,
 0.02582465228725378,
 -0.016687411354830577,
 0.00930437187796566,
 -0.008555098138627301,
 -0.013090996078423834,
 -0.002212275818679454,
 0.022666131811840354,
 -0.007461240188015469,
 -0.011548068380213397,
 -0.0069663499740593715,
 0.011501062649045983,
 -0.013244667806173737,
 0.013046319725358725,
 -0.01822730808866969,
 0.054255743062852246,
 0.0008851899223789083,
 0.0602279204203755,
 0.031061163312632523,
 0.03450158280650997,
 0.005292445553076997,
 0.02133533627731638,
 0.02794016359518157,
 -0.039098608263169014,
 -0.04474581217281255,
 0.031361868109377036,
 0.021597738586049624,
 -0.01679441206766294,
 0.012991833925822045,
 -0.012190242696877898,
 0.014441381343110966,
 0.016278626647381136,
 0.005707884124558167,
 0.04743685172868876,
 -0.03743376502381506,
 0.05619828669690147,
 -0.08127322121942432,
 0.06143497605238436,
 0.02417871207798953,
 0.08213388675291222,
 0.04157412750733583,
 0.0662325280197334,
 -0.04394795654913596,
 0.02236130567427086,
 0.04422579759664926,
 0.011974045909555683,
 -0.07264668811921685,
 -0.03593244396692967,
 -0.055089903484616634,
 0.028783076014762484,
 0.05544606201010785,
 -0.02410915707634078,
 -0.08177642167139036,
 -0.006766569966468312,
 -0.005889904710587018,
 -0.039686457777319384,
 -0.00709416109257375,
 0.0015328551794908662,
 0.0030346214910554267,
 0.010258803229936117,
 -0.007746973847181571,
 0.06442799748239021,
 -0.028001339507488524,
 0.013964685172147068,
 0.04438726488267924,
 -0.004327188300027693,
 0.08723829430809239,
 -0.019860845542303975,
 -0.05912139653139687,
 0.046887491273670576,
 0.04736419441214531,
 -0.009646519091235026,
 -0.03570375372141501,
 0.08497276598382579,
 -0.061147938378509244,
 -0.019418804151696986,
 0.0837909338516479,
 0.0036320392515218902,
 -0.060346202779777244,
 -0.021218347167599915,
 0.02730429583544426,
 -0.05794179661794058,
 0.027151383265704765,
 0.021046475090570203,
 -0.03944411360133249,
 0.11035321557758743,
 -0.06626913192427672,
 0.023332227640291428,
 0.10398412620175156,
 -0.09761281182502596,
 -0.028832880929256444,
 -0.0393039758769637,
 -0.03498320163766572,
 0.05842704566738802,
 0.03713763845348091,
 0.1419275424032731,
 -0.12305895999438432,
 0.047892624289940275,
 -0.05762365027446136,
 0.11099109550662094,
 -0.02611877432022086,
 0.02655270638417462,
 -0.024142543430779394,
 -0.1914879611820222,
 -0.017348928031617736]

In [78]:
SP = yf.download('^GSPC', start=dates[0], end=dates[-1])

[*********************100%***********************]  1 of 1 completed

In [79]:
SP = SP['Adj Close']

In [80]:
SP_mtl = SP.pct_change().resample('M').agg(lambda x: (x+1).prod()-1)

In [81]:
SP_mtl

Date
2010-12-31   -0.000191
2011-01-31    0.022646
2011-02-28    0.031957
2011-03-31   -0.001047
2011-04-30    0.028495
                ...
2020-07-31    0.055101
2020-08-31    0.070065
2020-09-30   -0.039228
2020-10-31   -0.027666
2020-11-30    0.112659
Freq: M, Name: Adj Close, Length: 120, dtype: float64

In [83]:
frame = pd.DataFrame(profits)

In [84]:
frame['S_P500'] = SP_mtl.values

In [86]:
frame['excess'] = frame.iloc[:,0] - frame.iloc[:,1]

In [87]:
frame['outperformed'] = ['Yes' if i > 0 else 'No' for i in frame.excess]

In [88]:
frame

            0    S_P500    excess outperformed
0   -0.031882 -0.000191 -0.031691           No
1         NaN  0.022646       NaN           No
2    0.020517  0.031957 -0.011439           No
3   -0.022242 -0.001047 -0.021195           No
4    0.005742  0.028495 -0.022754           No
..        ...       ...       ...          ...
115 -0.026119  0.055101 -0.081220           No
116  0.026553  0.070065 -0.043512           No
117 -0.024143 -0.039228  0.015085          Yes
118 -0.191488 -0.027666 -0.163822           No
119 -0.017349  0.112659 -0.130008           No

[120 rows x 4 columns]

In [89]:
frame[frame.outperformed == "Yes"].shape

(47, 4)

In [90]:
frame.shape

(120, 4)

In [91]:
47/120

0.39166666666666666